.chess-board {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: 30rem;
    height: 30rem;
}
.field{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-weight: bold;
    font-size: 2em;
}
.field-black{
    background-color: black;
}
.field-white {
    background-color: white;
}
.piece-black{
    color: black;
    text-shadow:
        0 1px 5px white,
        1px 0 5px white,
        0 -1px 5px white,
        -1px 0 5px white,
        0 0 5px white;
}
.piece-white {
    color: white;
    text-shadow: 
        0 1px 5px black, 
        1px 0 5px black, 
        0 -1px 5px black, 
        -1px 0 5px black, 
        0 0 5px black;
}
#submit-button {
    width: 100px;
    height: 50px;
    padding: 10px;
}
#JWT {
    margin-top: 20px;
}
.form-container {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 75rem;
}
#start-game-button {
    width: 100px;
    height: 50px;
    padding: 10px;
    margin-top: 30px;
}
#joining-room {
    margin-top: 20px;
}
#join-to-the-room {
    width: 100px;
    height: 50px;
    padding: 10px;
}
#connection-on {
    width: 100px;
    height: 50px;
    padding: 10px;
}